*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--fondo);
}
@font-face {
    font-family: gorila;
    src: url(gorila.otf);
}
:root {
  --letras: #ffffff;
  --fondo:black;
  --letras-secu:white;
}

.header-pc {
    width: 100%;
    height: 100px;
    background: var(--fondo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: fixed;
    top: 0;
    z-index: 99999;
}
.Logo {
    font-size: 3rem;
    color: var(--letras);
    text-decoration: none;
    text-transform: uppercase;
    font-family: gorila;
    letter-spacing: 0px;
}
div#derecha-pc {
    gap: 20px;
    display: flex;
    align-items: center;
}
.opciones-derecha-pc {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: monospace;
    font-weight: 900;
}
#opciones-derecha-pc-ubicacion {
    padding: 10px 7px;
    color: var(--fondo);
    background: var(--letras-secu);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 133px;
    height: 43px;
    font-size: 1rem;
    font-family: 'gorila';
    letter-spacing: .5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 300ms;
    border-radius: 5px;
}
a#opciones-derecha-pc-ubicacion:hover {
color: var(--letras-secu);
}
a#opciones-derecha-pc-ubicacion::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background: #901d27;
    margin: 0px 0px 0px -205%;
    z-index: -1;
    transition: 300ms;
}
a#opciones-derecha-pc-ubicacion:hover::before {
margin: 0px 0px 0px 0px;
}
.inicio {
    width: 100%;
    height: 75vh;
    margin-top: 100px;
}

.inicio-div {
    width: 100%;
    height: 100%;
    animation: fondo 10s ease-in-out infinite alternate;
    background-size: cover;
    background-position-y: top;
    position: relative;

}
@keyframes fondo {
    0%{
    
        background-image: url(img/fondo.png);

    }
    100%{

        background-image: url(img/fondo2.png);

    }
}
.degradado-inicio {
    width: 100%;
    height: 100%;
    background: linear-gradient(
360deg, var(--fondo), transparent 20%);
    position: absolute;
}
.informacion {
    width: 100%;
    height: 100%;
    padding: 50px;
    color: white;
    position: relative;
    z-index: 2;
}

.titulo-inicio {
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'gorila';
}

.titulo-grupo {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-gorila {
    text-align: center;
    font-family: 'gorila';
    color: #901D27;
    background: black;
    width: fit-content;
    text-transform: uppercase;
    padding: 10px 10px;
}
div#botones-informacion {
    width: 100%;
    height: 30%;
    position: relative;
    display: flex;
    align-items: center;
}

.comprar-entrada {
    color: white;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    position: relative;
    font-size: 1rem;
    padding: 15px 15px;
    font-family: 'gorila';
    width: 230px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: #901D27;
    border-radius: 5px;
}
.comprar-entrada::before {
    content: "";
    width: 50%;
    height: 100%;
    background: #631018;
    position: absolute;
    margin: 0px 0px 0px 340px;
    transform: rotate(0deg);
    z-index: -1;
    transition: 300ms;
    border-left: 5px solid white;
}
a#comprar-entrada:hover::before {
    width: 246%;
    height: 100%;
    border-left: 5px solid white;
}
.botones-informacion {
    width: 100%;
    height: fit-content;
}

.logo-patro {
    width: 45px;
    height: fit-content;
}

.patrocinio {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.eventos-disponibles {
    width: 100%;
    height: fit-content;
    /* background: red; */
    margin: 50px 0px 0px 0px;
    padding: 50px;
}

.eventos-disponibles {
    font-family: monospace;
    font-size: 1.5rem;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
}
.flecha-span {
    color: #901d27;
    animation: flechas 2s ease-in-out infinite alternate;

}
@keyframes flechas {

    0%{
        margin-left: 5px;
    }
    100%{
        margin-left: 0px;
    }
    
}
.carrusel-contenedor {
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    margin: 5px 0px;
}

.evento {
    width: 33%;
    height: 300px;
    background: url(img/fondo.png);
    min-width: 320px;
    background-size: cover;
    background-position-x: center;
    position: relative;
    border-radius: 5px;
    border: 5px solid white;
    transition: 300ms;
    cursor: pointer;
}
.evento:hover{
    border-color: #901D27;
}
.degradado-evento {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, black, transparent 20%);
    border-radius: 5px;
}
.informacion-evento-comprar {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.informacion-evento {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: end;
}

p.titulo-evento {
    font-family: 'gorila';
    letter-spacing: 1px;
    font-size: 1.7rem;
}
.botones-evento {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
.boton-comprar-evento {
    text-decoration: none;
    color: white;
    margin: 20px 0px 0px 0px;
    padding: 10px;
    background: black;
    font-size: 1rem;
    width: 133px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'gorila';
    letter-spacing: 1px;
    border: 2px solid white;
    border-radius: 5px ;
}